div#root {
	position: fixed;
	top: 0;
	left: 0vw;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;

	&>div {
		width: 80%;
		margin: 0 auto;
		box-sizing: border-box;
		height: min-content;
		font-size: 2em;
		border-radius: 10px;
		border: #333 5px solid;
		background-color: #333;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&>button {
			width: 100%;
			height: 100px;
			font-size: 1em;
			border-radius: 10px;
			cursor: pointer;
			border: none;
			padding: 18px;
		}

		&>ul {
			width: 100%;
			padding: 0 18px;
			margin: 0;
			list-style-type: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			&>li {
				padding: 10px 0;
				width: 100%;
				height: min-content;
				display: flex;

				&>div:is(.selectTag) {
					&.solid-select-container {
						color: #fa7f25;
					}

					.solid-select-control {
						border-color: #fca560;

						&:focus-within {
							outline-color: #fca560;
						}
					}

					.solid-select-placeholder {
						color: #fca560;
					}

					.solid-select-option {
						&:hover {
							background-color: #fa7f25;
							color: #fff;
						}

						&[data-focused="true"] {
							background-color: #fca560;
							color: #fff;
						}
					}
				}

				&>button {
					height: 100%;
					width: 40px;
				}
			}
		}
	}
}